---
---

// Accent colors
$primary: #f72e10;
$prim-light: lighten($primary, 20%);
$prim-dark: darken($primary, 20%);

$font-stack: 'Roboto', Helvetica, Arial, sans-serif;
$font-size:  12pt;

$header-color: #555; // color of text in h1, h2, h3, etc
$body-color:   #666; // color of body text
$rule-color:   #ddd; // color of horizontal rules
$shadow-color: rgba(0, 0, 0, 0.28);

$link-color:       $primary;    // color of links
$link-click-color: $prim-dark;  // color of links when clicked
$link-hover-color: $prim-light; // color of links when clicked

$h1-height: 24px;   // height of h1 headers. others are calculated from this
$h-height-inc: 4px; // increment by which each header decreases in height
$nav-height: 64px;

$footer-text-size:  10pt;
$footer-text-color: lighten($body-color, 10%); // color of text in the footer

$logo-size: 50px; // hehehe
$content-width: 900px; // max width of main text content

$bp-mobile: $content-width + 16px; // the point at which we switch to "mobile" view

nav.main {
    border-bottom: solid 1px $rule-color;
    background-color: lighten($rule-color, 5%);
    box-shadow: inset 0 -4px 8px -8px $shadow-color;
    width: 100%;
    height: $nav-height;

    & a {
        color: $header-color;
        text-decoration: none;
        padding: 0px 10px;
        padding-top: 2px;
        display: inline-block;
        line-height: $nav-height;
        float: left;

        font-size: 15pt;
        transition: color 0.2s;

        &:hover {
            color: $primary;
        }
        &:active {
            color: $prim-dark;
        }

        &:first-child {
            padding-left: 0px !important;
        }
    }

    & .logo {
        padding: 0px;
        height: $nav-height;
        font-size: 24pt;
        font-weight: bold;
        & span {
            vertical-align: middle;
        }

        & img {
            padding: 0px;
            width: $logo-size;
            height: $logo-size;
            vertical-align: middle;
        }
    }

    &::after { clear: left; }
}

body {
    margin: 0 0;
    font-family: $font-stack;
    font-size: $font-size;
    color: $body-color;
}

h1, h2, h3, h4, h5 {
  font-family: $font-stack;
  color: $header-color;
}
h1 {
    border-left: 4px solid $primary;

    padding: 0px;
    padding-left: 8px;
}
h1 { font-size: $h1-height; line-height: $h1-height; }
h2 { font-size: $h1-height - $h-height-inc; line-height: $h1-height - $h-height-inc; }
h3 { font-size: $h1-height - $h-height-inc*2; line-height: $h1-height - $h-height-inc*2; }
h4 { font-size: $h1-height - $h-height-inc*3; line-height: $h1-height - $h-height-inc*3; }
h5 { font-size: $h1-height - $h-height-inc*4; line-height: $h1-height - $h-height-inc*4; }

a {
  color: $link-color;
  transition: color 0.2s;
}
a:hover { color: $link-hover-color; }
a:active { color: $link-click-color; }

@media (min-width: $bp-mobile) {
    .container {
        max-width: $content-width;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: $bp-mobile) {
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

footer {
  border-style: solid;
  border-color: $rule-color;
  border-width: 0px;
  border-top-width: 1px;

  padding-top: 8px;

  font-size: $footer-text-size;
  color: $footer-text-color;
}

h1.errorcode {
    margin: 10px 0;
    font-size: 4em;
    border-left: none;
    float: right;
}

.clearfloat {
    clear: both;
}
.right {
    float: right !important;
}

